
@font-face {
  font-family: 'Amatic SC';
  src: local('Amatic SC'), url(./fonts/Amatic_SC/AmaticSC-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Julius Sans One';
  src: local('Julius Sans One'), url(./fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Pinyon Script';
  src: local('Pinyon Script'), url(./fonts/Pinyon_Script/PinyonScript-Regular.ttf) format('truetype');
}


.hero.has-background {
  position: relative;
  overflow: hidden;
}
.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
.hero-background.is-transparent {
  opacity: 0.3;
}

.drink-option {
  padding: 3rem 1.25rem !important;
  cursor: pointer;
  position: relative;
  height: 100%;
}

.drink-option:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: box-shadow 0.3s ease-in-out;
}


.drink-unavailable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.1);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.drink-unavailable__text {
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: 4pt;
  color: white;
  font-family: "Amatic SC";
  rotate: 45deg;
}

.drink-option__name {
  font-size: 5rem;
  letter-spacing: 6pt;
  font-family: "Amatic SC";
}

.drink-option__description, .pending__subtext {
  font-size: 1.7rem;
  font-family: "Julius Sans One";
}

.pending__subtext {
  text-align: center;
}

.pageHeading {
  font-size: 4rem;
  text-align: center;
  padding: 2rem 0;
  font-family: "Pinyon Script";
}

.drink-price {
  justify-content: center;
  align-items: center;
  display: flex;
}

.pending__container {
  padding: 2.25rem;
}

.pending_spinner {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}